window * {
    background: none;
    color: white;
    box-shadow: none;
    text-decoration: none;
}

button {
    border: none;
    border-radius: 20em;
}

window {
    background-color: black;
}

label {
    font-weight: bold;
}

button:active {
    background-color: white;
    color: black;
}

button:active label {
    color: black;
}

hdykeypad > button label{
   font-size: 5em;
   font-weight: bold;
   padding: 10px;
}

.login_btn > label {
    font-size: 2em;
    background-clip: padding-box;
    padding: 0.5em;
}

.pin, .prompt {
   font-size: 2em;
}

popover {
    background-color: black;
    font-size: 2em;
}

popover radiobutton {
    padding: 1em;
}
